# -----------------------------------------------------------------
// PORT AND OTHER
# -----------------------------------------------------------------

NODE_ENV=
PORT=
MONGODB_URI=
RATE_LIMIT_WINDOW_MS=
RATE_LIMIT_MAX=
ADMIN_SUPER_KEY =
DEAFULT_ROUTE =

# -----------------------------------------------------------------
// TOKEN SECRET AND EXPIRY
# -----------------------------------------------------------------

ACCESS_TOKEN_SECRET =
REFRESH_TOKEN_SECRET =
ACCESS_TOKEN_EXPIRY =
REFRESH_TOKEN_EXPIRY =


# -----------------------------------------------------------------
// CLOUDINARY API_KEY , CLOUDNAME, SECRET
# -----------------------------------------------------------------


CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=

# -----------------------------------------------------------------
// BREVO API AND PORT
# -----------------------------------------------------------------

EMAIL_HOST=
EMAIL_PORT=

# -----------------------------------------------------------------
// RAZORPAY KEY AND ID
# -----------------------------------------------------------------

RAZORPAY_KEY_ID=
RAZORPAY_KEY_SECRET=

# -----------------------------------------------------------------
// GOOGLE CALLBACKE, API_KEY, ID
# -----------------------------------------------------------------

GOOGLE_CLIENT_ID =
GOOGLE_CLIENT_SECRET =
GOOGLE_CALLBACK_URL =
